$yellow-light: #FC781A;
$dark: #13161A;
$black: #1E2225;
$dark-light: #181B1F;
$green: #5EC262;
$blue: #017aff;
$orange: #FD791A;
$yellow-bg: #C6D32B;
$red: #EF3E36;
$pink: #D32B90;
$white: #fff;

$primary: #0D172A;
$secondary: rgba(13, 23, 42, 0.8);
$light-blue-bk : #FAFCFF;

// Media query breakpoints
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      576px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  991px,
  "desktop":      1200px,
  "desktop-wide": 1440px
);

// Z-index
$z-overlay: 9;
$z-header: 10;

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
}

.section{
  box-shadow: inset 0px -1px 0px #EBF5FF;
  padding: 120px 0;
  &-body{
    margin-top: 48px;
  }
  @include mq('tablet-wide', max) {
    padding: 120px 0 80px;
  }
  @include mq('phone-wide', max) {
    padding: 80px 0 40px;
  }
  &.hero{
    padding: 160px 0;
    @include mq('tablet-wide', max) {
      padding: 80px 0;
    }
    @include mq('phone-wide', max) {
      padding: 55px 0;
    }
  }
  .hero-img-container {
    height: 420px;
    opacity: 1;
    @include mq('tablet-wide', max) {
      margin-top: 48px;
    }
    @include mq('phone-wide', max) {
      height: 260px;
    }
  }
  &-title{
    margin: 16px 0px;
    white-space: pre-wrap;
    @include mq('phone-wide', max) {
      white-space: unset;
    }
  }
  &-content{
    color: $secondary;
    white-space: pre-wrap;
    @include mq('phone-wide', max) {
      white-space: unset;
    }
  }
  &-caption{
    margin-top: 16px;
    white-space: pre-wrap;
  }
  &.reviews{
    background: $light-blue-bk;
    .section-header{
      margin-bottom: 48px;
    }
  }
  &.people-saying{
    background: $light-blue-bk;
  }
  &.trading{
    box-shadow: none;
  }
}
.download, .why-altrady {
  .left-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
} 

.exchanges{
  background-color: $light-blue-bk;
  padding: 0;
  &-item__container{
    display: flex;
    justify-content: center;
    height: 120px;
    margin: auto;
    align-items: center;
    .first-line{
      width: 100%;
      justify-content: space-around;
    }
    @include mq('tablet-wide', max) {
      flex-direction: column;
      height: 230px;
    }
  }
  .feature-item{
    display: flex;
    flex-direction: column;
    height: 88px;
    justify-content: center;
    &__content-wrapper{
      margin: 0;
    }
  }
}
.btn{
  width: fit-content;
  &-container{
    margin-top: 24px;
  }
}
.benefit{
  padding: 120px 0;
  text-align: center;
  &-item{
    text-align: left;
    &__title{
      margin: 21px 0 8px;
    }
    &__content{
      white-space: pre-wrap;
    }
  }
}
.cryptor{
  .btn-container{
    margin-top: 48px;
  }
  &-content-wrapper{
    .img-container{
      opacity: 1;
    }
  }
}
.section-header{
  text-align: center;
  p{
    white-space: pre-wrap;
  }
}

.section-cta{
  background: $primary;
  height: 375px;
  text-align: center;
  padding: 80px 0;
  &.as-featured-in{
    padding: 40px 0;
    height: 207px;
    @include mq('tablet-wide', max) {
      height: 295px;
    }
    @include mq('phablet', max) {
      height: 510px;
    }
    .title{
      margin-bottom: 40px;
    }
    .section-item{
      margin: 8px 0;
      height: 85px;
    }
  }
  &.level-up{
    @include mq('tablet-wide', max) {
      height: 359px;
    }
    @include mq('phone-wide', max) {
      height: 389px;
    }
  }
  &.cryptor-trading-tool{
    background: $blue;
    height: 337px;
  }
  &.join-now{
    height: 241px;
    @include mq('phone-wide', max) {
      height: 165px;
    }
  }
  .title{
    color: $white;
    white-space: pre-wrap;
  }
  p{
    color: rgba(255, 255, 255, 0.8);
    margin: 16px auto 0;
    width: 848px;
    white-space: pre-wrap;
    @include mq('tablet-wide', max) {
      width: 672px;
    }
    @include mq('phone-wide', max) {
      width: 343px;
    }
  }
  .btn{
    margin-top: 48px;
  }
  @include mq('tablet-wide', max) {
    padding: 80px 48px 40px;
    height: 343px;
    h2{
      white-space: unset;
    }
  }
  @include mq('phone-wide', max) {
    padding: 40px 16px;
    height: 303px;
    h2{
      white-space: unset;
    }
  }
}

span{
  &.btn-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  &.btn-learn-more::before{
    margin-right: 13px;
    content: url('../assets/imgs/left-arrow.svg');
  }

  &.find-more, &.open-now{
    color: $blue;
    position: absolute;
    bottom: 28px;
    left: 34px;
    cursor: pointer;
    &::after{
      margin-left: 13px;
      bottom: -2px;
      position: absolute;
      content: url('../assets/imgs/left-arrow-blue.svg');
    }
  }

  &.open-now{
    bottom: 40px;
  }
}

.software-card{
  height: 235px;
  margin-bottom: 24px;
  span.open-now{
    cursor: pointer;
  }
  h4.os{
    margin: 16px 0 8px;
  }
}

.people-saying-third{
  .testimonial-wrapper{
    margin-top: 48px;
  }
  &.why-altrady{
    padding: 80px 0;
    .testimonial-wrapper{
      margin-top: 0;
    }
  }
}

.best-cryptor{
  &-content{
    margin-top: 48px;
    .item__type{
      left: 24px;
    }
  }
}
.trading-software{
  background: $light-blue-bk;
  .software-container{
    margin-top: 48px;
  }
}
.light-bk{
  background: $light-blue-bk;
}

.annual{
  .plan-tab{
    background: #FAFCFF;
    border-radius: 4px;
    width: fit-content;
    margin: 16px auto 64px;
    &__item{
      padding: 8px 16px;
      color: rgba(13, 23, 42, 0.64);
      &.active{
        background: $blue;
        border-radius: 4px;
        color: $white;
      }
    }
  }
  .plan-content{
    padding-top: 12px;
    .description{
      color: rgba(13, 23, 42, 0.64);
      @include mq('phone-wide', max) {
        display: none;
      }
    }
  }
  .sticky{
    position: sticky;
    top: 80px;
    padding: 16px 0;
    background: white;
    z-index: 10;
    border-bottom: 1px solid #EEEFF0;
    .reduce-price{
      @include mq('phone-wide', max) {
        display: none;
      }
    }
    .current-price{
      @include mq('phone-wide', max) {
        font-size: 18px;
      }
    }
  }
  .plan-type{
    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px rgb(0 0 0 / 25%);
  }
  img{
    margin: 15px;
  }
  .btn-container{
    text-align: center;
    padding: 30px 10px;
  }

  .phone-show{
    display: none;
  }

  @include mq('phone-wide', max) {
    .phone-hide{
      display: none;
    }
    .phone-show{
      display: flex;
    }
  }

}

.faq{
  &-item{
    border: 1px solid #EEEFF0;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 8px;
    transition: width 0.3s ease-in-out;
    &__title{
      cursor: pointer;
      &::after{
        content: url('../assets/imgs/drowdown-arrow-down.svg');
        position: absolute;
        right: 20px;
      }
    }

    &__content{
      margin-top: 8px;
      display: none;
    }

    &.active{
      background: #FAFCFF;
      .faq-item__title::after{
        transform: rotate(180deg);
      }
      .faq-item__content{
        display: block;
      }
    }
  }
  &-body{
    margin-top: 48px;
  }
}

.blog-section{
  margin: 40px 0;
  .row{
    margin: 0;
    padding: 0;
  }
  @include mq('tablet-wide', max) {
    .part-one{
      flex-direction: column-reverse
    }
    .item{
      margin: 24px 0;
    }
  }
}

.coindelist{
  content: url('../assets/imgs/coindelist-desktop.png');
  width: 90vw;
  max-width: 1170px;
  margin: 24px auto;
  &.blog-detail{
    content: url('../assets/imgs/coindelist-phone.png');
    width: 100%;
    margin: 0;
  }
  @include mq('tablet-wide', max) {
    content: url('../assets/imgs/coindelist-tablet.png')!important;
    max-width: 672px;
  }
  @include mq('phone-wide', max) {
    max-width: 100%;
    content: url('../assets/imgs/coindelist-phone.png')!important;
  }
}

.blog-list1{
  .item p{
    left: 24px;
  }
}

.trading-mode{
  margin: 64px auto;
  content: url('../assets/imgs/trading-mode-desktop.png');
  @include mq('tablet-wide', max) {
    content: url('../assets/imgs/trading-mode-tablet.png');
  }
  @include mq('phone-wide', max) {
    content: none;
  }
}

.blog-list2{
  margin-bottom: 80px;
}

.exchanges-list{
  margin-top: 64px;
}

.upcoming-support{
  .section-body{
    margin-top: 64px;
  }
}

.exchange-detail{
  background: $primary;
  color: $white;
  .item{
    &__img{
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
    &-name{
      margin-bottom: 16px;
    }
    &__content{
      margin-bottom: 16px;
    }
    &__tag{
      border-radius: 30px;
      background: #FAFCFF;
      padding: 4px 16px;
      margin-right: 4px;
      color: #0D172A;
      &.active{
        color: $white;
        background: $blue;
      }
    }
    &-detail{
      margin-bottom: 24px;
    }
    &-detail__col{
      margin-right: 24px;
    }
  }
  .tags{
    margin-bottom: 24px;
  }
  .btn-goto{
    position: relative;
    padding-left: 56px;
    margin-bottom: 24px;
    &::before{
      content: url('../assets/imgs/goto-icon.svg');
      position: absolute;
      left: 24px;
    }
  }
}

.trading-software{
  background: $white;
  &__content{
    text-align: center;
    margin-top: 16px;
  }
  .content1{
    margin: 16px 0 48px;
    white-space: pre-wrap;
  }
}

.exclusive-video{
  .video-container{
    width: 960px;
    height: 480px;
    background: #0D172A;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq("tablet-wide", max) {
      width: 672px;
      height: 420px;
    }
    @include mq("phone-wide", max) {
      width: 311px;
      height: 240px;
    }
  }
  h4.video-holder{
    color: $white;
  }
}

.blog-detail-hero{
  display: flex;
  justify-content: center;
  &__container{
    bottom: 0;
    padding: 40px 0;
  }
  &__title{
    color: $white;
    margin: 8px 0;
  }
  &__type{
    width: fit-content;
    padding: 4px 8px;
    border-radius: 30px;
  }
  &__type.red{
    background: $red;
  }
}

.blog-detail-content{
  margin: 80px 0 40px;
  p{
    white-space: pre-wrap;
    &.content{
      margin: 16px 0 24px;
    }
    &.quote{
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      padding: 24px;
      box-shadow: inset 2px 0px 0px $blue;
    }
  }
  .features-blogs{
    padding: 0 0 12px;
    box-shadow: inset 0px -1px 0px rgb(13 23 42 / 16%);
  }
  .blogs-list{
    margin: 24px 0 40px;
  }
  h3{
    margin: 24px 0 16px;
  }
  .lists{
    ul{
      margin-bottom: 16px;
      padding-left: 20px;
      &.list-type1{
        list-style-type: none;
        & li::before {
          content: "\2022";
          color: $blue;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
        }
      }
      &.list-type2{
        list-style-type: decimal;
        li{
          padding-left: 12px;
        }
      }
    }
    li{
      margin-bottom: 12px;
    }
  }
  .img-container{
    height: 480px;
    background: #C4C4C4;
    opacity: 0.2;
    border-radius: 4px;
    margin-bottom: 40px;
    @include mq("tablet-wide", max) {
      height: 400px;
    }
    @include mq("phone-wide", max) {
      height: 200px;
    }
  }
}
.blog-detail-list{
  .more-blogs{
    padding-bottom: 12px;
    margin-bottom: 24px;
    box-shadow: inset 0px -1px 0px rgb(13 23 42 / 16%);
  }
  .item__type{
    left: 24px;
  }
}